project_id = "brfvokludiulsugljrhq"

[functions.check-coverage]
verify_jwt = false

[functions.create-checkout]
verify_jwt = true

[functions.check-subscription]
verify_jwt = true

[functions.stripe-webhook]
verify_jwt = false

[functions.customer-portal]
verify_jwt = true